{# templates/emails/registration_email.html.twig #}
<h3>Search has been completed</h3>
Hi {{ report.user.firstName }} {{ report.user.lastName }}!<br>
The profile search for subject {{ report.subject.firstName }} {{ report.subject.lastName }}
has been completed.
<br>
<p>
    Please login and continue with the next step.
</p>
Thanks!
